@font-face {
    font-family: 'noyh_lightregular';
    src: resolve('typesketchbook_-_noyhlight-webfont.woff2') format('woff2'), resolve('typesketchbook_-_noyhlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
};