// helpers in General

.u{
    &-bgColor{
        &-greyDarker{
            background-color:$grey-darker;
        }
    }
    &-Opensans{
        font-family: $font-family-secondary;
    }
    &-spacer{
        display: inline-block;
        margin: 0 1rem;
    }
}