@import '../common';
// Local Variables
.main {
    $this: &;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &_fullheight{
        height:100vh;
    }
    &-box {
        transform: translateY(100%);
        &_border {
            border: 5px solid currentColor;
        }
        .main-text{
            margin: 0;
            margin-top:65px;
            text-align: center;
        }

        &.no-transform{
            transform: none !important
        }
    }
    &-title {
        font-size: 4rem;
        letter-spacing: 30px;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 2rem;
        text-align: center;
        box-sizing: border-box;
    }
    &-link {
        color: currentColor;
        text-decoration: none;
    }
    &-logo {
        max-width: 100%;
        display: block;
        height: 100%;
        width: 100%;

        &_vw{
            max-width: 52rem;
        }
    }
    &-logoAsTitle {
        display: block;
        padding: 3vmin 4vmax;
        box-sizing: border-box;
        min-width: 18.4rem;
        width: 100%;
    }
    &-icon {
        display: inline-block;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 30px;
        &.facebook {
            background-image: resolve('facebook.svg');
        }
        &.instagram {
            background-image: resolve('instagram.svg');
        }
        &.mail {
            background-image: resolve('mail.svg');
            width: 35px;
        }
        &.facebook,
        &.instagram {
            width: 30px;
        }
    }
    &-footer {
        text-align: center;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .main {
            &-text {
                margin: 0;
                &.closer-top{
                    transform:translateY(-115px);
                }
            }
        }
    }
    &-share {
        margin: 0;
        margin-bottom: 3.5rem;

        .main {
            &-link {
                &:not(:last-child) {
                    margin-right: 3rem;
                }
            }
        }
    }
    &-text{
        font-size: 1.5rem;
    }
    @media screen and (max-width: $screen-xs) {
        &-box {
            padding: .5rem 5rem;
            box-sizing: border-box;
        }
        
        &-title {
            font-size: 3rem;
            letter-spacing: 20px;
        }
    }
    @media screen and (max-width: $screen-mobile) {
        
        &-title {
            font-size: 2.5rem;
            letter-spacing: 15px;
        }
    }
    @media screen and (min-width: $screen-sm) {
    }
    @media screen and (min-width: $screen-md) {
        &-logo{

            &_vw{
                width:27vw;
            }
        }

        &-text{
            font-size: 1.8rem;
        }
    }
    @media screen and (min-width: $screen-lg) {}
}